<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Database - Hotel</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css2/styles-merged.css">
    <link rel="stylesheet" href="/stylesheets/css2/style.min.css">
    <link rel="stylesheet" href="/stylesheets/css2/custom.css">
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<% include uppermenu_header.ejs %>

<section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="img/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">Welcome to your information</h1>
                            <div class="probootstrap-animate probootstrap-sub-wrap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row probootstrap-gutter40">
            <h2 class="mt0" style="color:#6b265a;">My Information</h2>
            <hr class="underhr" >
            <% if (myinfo != null) { %>
                <% for (var q of myinfo)  { %>
            <form action="/myinfo" method="post" class="probootstrap-form">
                <label><h3>Profile</h3></label>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Korean First Name</label>
                        <input type="text" name = "korean_first" value="<%= q.KOR_FIRST_NAME %>" class="form-control" disabled />
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Korean Last Name</label>
                        <input type="text" name="korean_last" value="<%= q.KOR_LAST_NAME %>" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>English First Name</label>
                        <input type="text" name="english_first" value="<%= q.ENG_FIRST_NAME %>" class="form-control" disabled />
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>English Last Name</label>
                        <input type="text" name="english_last" value="<%= q.ENG_LAST_NAME %>" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Gender</label>
                        <input type="text" value="<%= q.GENDER %>" class="form-control" disabled />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Birth</label>
                        <input type="text" value="<%= q.BIRTH.substring(0,10) %>" class="form-control" disabled />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Nation</label>
                        <input type="text" value="<%= q.NATION %>" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" name="password" value="<%= q.LOGIN_PW %>" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label>Forget Password?</label>
                    <input type="text" name="forget_password" value="<%= q.PW_ANSWER %>" class="form-control" disabled />
                </div>
                <label><h3>Contact</h3></label>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" name="phone_num" value="<%= q.PHONE_NUM %>" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="form-field">
                        <i class="icon icon-mail"></i>
                        <input type="email" name="email" value="<%= q.EMAIL %>" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>City</label>
                        <input type="text" name="add_city" value="<%= q.ADDRESS1 %>" class="form-control" disabled />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>State</label>
                        <input type="text" name="add_state" value="<%= q.ADDRESS2 %>" class="form-control" disabled />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Zip</label>
                        <input type="text" name="zip" value="<%= q.ZIP_CODE %>" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Street</label>
                        <input type="text" name="street" value="<%= q.ADDRESS3 %>" class="form-control" disabled />
                    </div>
                    <div class="col-sm-6 form-group">

                        <label>Apartment Information</label>
                        <input type="text" name="apart_num" value="<%= q.ADDRESS4 %>" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label>Detail Address</label>
                    <textarea readonly="readonly" name="detail_address" rows="3" class="form-control"><%= q.ADDRESS5 %></textarea>
                </div>
            </form>
            <% } } %>
            <div class="form-group text-center">
                <button class="btn btn-primary btn-lg" onclick = "location.href='myedit'" style="background-color: #903479; border-color: #903479; color: white">EDIT</button>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-half">
    <div class="image" style="background-image: url(img/slider_2.jpg);"></div>
    <div class="text">
        <div class="probootstrap-animate fadeInUp probootstrap-animated">
            <h2 class="mt0">Best 5 Star hotel</h2>
            <p><img src="img/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
            <div class="row">
                <div class="col-md-6">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="col-md-6">
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <p><a href="#" class="link-with-icon white">Learn More <i class=" icon-chevron-right"></i></a></p>
        </div>
    </div>
</section>

<% include footer.ejs %>

<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>